.content {
    border: 2px solid $ankademinOrange;
    border-radius: 24px;
    padding-bottom: 12px;
    padding-top: 12px;
    background-color: $bgContent1;


}

.content2 {
    border: 2px solid $ankademinOrange;
    border-radius: 24px;
    padding-bottom: 12px;
    padding-top: 12px;
    background-color: $bgContent2;

}

.insideContent {
    border: 2px solid $ankademinOrange;
    border-radius: 12px;
    padding: 8px;
    margin: 12px;
    background-color: white;

}

@media (min-width: 640px) {
    .contentGrid {
        @include flexCenter(2)
    }

    .productGrid {
        @include flexCenter(3)
    }
}


@media (max-width: 640px) {
    .contentGrid {
        @include flexCenter(1)
    }

    .productGrid {
        @include flexCenter(1)
    }

}